# Global compiled file
*.pyc

# Auto generated conf
# egs/**/conf/*
# !egs/**/conf/dnn
# !egs/**/conf/logging_config.conf

# Running part
experiments/
*database*/

# Logs
*.log

# Tools
SPTK*
build/
bin/
!tools/*

# Pycharm IDE
.idea/

# macOS
.DS_Store