######################################
############# PATHS ##################
######################################

MerlinDir=/Users/ntcho/Workspace/Code/bsri23/merlin
WorkDir=/Users/ntcho/Workspace/Code/bsri23/merlin/egs/build_your_own_voice/s1

######################################
############# PARAMS #################
######################################

Voice=libritts-100
Labels=phone_align
QuestionFile=questions-radio_dnn_416.hed
Vocoder=WORLD
SamplingFreq=16000
SilencePhone='sil'
FileIDList=file_id_list.scp

######################################
######### No. of files ###############
######################################

Train=27694
Valid=2770
Test=2770

######################################
############# TOOLS ##################
######################################

ESTDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/speech_tools
FESTDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/festival
FESTVOXDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/festvox

HTKDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/bin/htk

# !! export paths to current terminal session
export ESTDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/speech_tools
export FESTDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/festival
export FESTVOXDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/festvox
export HTKDIR=/Users/ntcho/Workspace/Code/bsri23/merlin/tools/bin/htk

